body {
  margin: 0;
  padding: 0;
}
.main-section {
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.header-content {
  background-color: teal;

  padding: 8px;
}
.box {
  padding: 16px;
  position: absolute;
  margin-left: 4px;
}

.box select {
  background: rgb(70, 66, 66);
  color: white;
  padding: 8px;
  width: 250px;
  border: none;
  font-size: 16px;
  box-shadow: 0px 5px 25px rgb(10, 10, 10);
}

/*.box:before {
  content: "";
  position: absolute;
  top: 16px;
  right: 10px;
  width: 35px;
  height: 35px;
  background: black;
}*/

.box button {
  padding: 8px;
  width: 150px;
  background-color: teal;
}
.box button:hover {
  padding: 8px;

  color: white;
  background-color: rgb(49, 45, 45);
}

.student {
  margin-top: 70px;
}

table,
th,
td {
  border: 1px solid black;
}
